<div class="flex h-screen">
  <%= if assigns[:current_user] do %>
    <.live_component
      module={VyreWeb.Components.Sidebar}
      id={"sidebar-#{@current_user.id}"}
      current_user={@current_user}
      current_path={assigns[:current_path] || assigns[:current_uri]}
    />
  <% end %>

  <div class="flex h-full flex-1 flex-col overflow-hidden">
    <main class="flex-1 overflow-hidden">
      {@inner_content}
    </main>
  </div>
</div>
